.App {
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:1rem;
  margin-top: 2rem;
}

.card{
  padding: 5px;
  width: 250px;
  background-color: whitesmoke;
  border: 1px solid black;
}

.two{
border:1px solid black;
height: 2rem;
width: 4rem;
background-color: slategray;
border-radius: 5px;
}
.two:hover{
  cursor: pointer;
  background-color: grey;
  color: white;
}
.one{
  border:1px solid black;
  height: 2rem;
  border-radius: 5px;
}
.one:hover{
  cursor: pointer;
  background-color: grey;
  color: white;
}
.navcontainer{
  height: 4rem;
  background-color: whitesmoke;
  width: 98%;
  display: flex;
  align-items: center;
  padding: 10px;
}

ul{
  list-style: none;
}
li{
  display: inline-block;
  margin-left: 1rem;
}
.cart{
  margin-left: auto;
}
.cartNo{
  background-color: black;
  color: white;
  border-radius: 30%;
  height: 2rem;
  width: 2rem;
  padding: 5px;
}